fastapi
uvicorn[standard]
python-multipart
pandas
numpy
requests
beautifulsoup4
httpx
python-dateutil
scipy
matplotlib
plotly
gradio_client
fpdf
fpdf2
scikit-learn
seaborn
xgboost
catboost
lightgbm
shap

